<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Faqs</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Extra</a>
            </li>
            <li class="breadcrumb-item active">Faqs</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Basic Examples -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>FAQs
              <small>Find your solutions from here.</small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q1. Anim pariatur cliche reprehenderit?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life
                          accusamus terry richardson ad squid. 3 wolf moon officia aute,
                          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                          laborum
                          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                          squid
                          single origin coffee nulla assumenda shoreditchet. Nihil anim
                          keffiyeh
                          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident.
                          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
                          helvetica,
                          craft beer labore wes anderson cred nesciunt sapiente.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q2. It has survived not only five centuries, but also the leap
                        into?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Completed my graduation in Arts from the well known and renowned
                          institution of India – SARDAR PATEL ARTS COLLEGE, BARODA
                          in 2000-01, which was affiliated to M.S. University. I ranker in
                          University
                          exams from the same university from 1996-01.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q3. Worked as Professor and Head of the department at Sarda
                        Collage?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Completed my graduation in Arts from the well known and renowned
                          institution of India – SARDAR PATEL ARTS COLLEGE, BARODA
                          in 2000-01, which was affiliated to M.S. University. I ranker in
                          University
                          exams from the same university from 1996-01.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q4. It has survived not only five centuries, but also the leap
                        into?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life
                          accusamus terry richardson ad squid. 3 wolf moon officia aute,
                          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                          laborum
                          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                          squid
                          single origin coffee nulla assumenda shoreditchet. Nihil anim
                          keffiyeh
                          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident.
                          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
                          helvetica,
                          craft beer labore wes anderson cred nesciunt sapiente.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q5. Worked as Professor and Head of the department?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life
                          accusamus terry richardson ad squid. 3 wolf moon officia aute,
                          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                          laborum
                          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                          squid
                          single origin coffee nulla assumenda shoreditchet. Nihil anim
                          keffiyeh
                          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident.
                          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
                          helvetica,
                          craft beer labore wes anderson cred nesciunt sapiente.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q6. It has survived not only five centuries, but also the leap
                        into?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life
                          accusamus terry richardson ad squid. 3 wolf moon officia aute,
                          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                          laborum
                          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                          squid
                          single origin coffee nulla assumenda shoreditchet. Nihil anim
                          keffiyeh
                          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident.
                          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
                          helvetica,
                          craft beer labore wes anderson cred nesciunt sapiente.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q7. Completed my graduation in Arts from the well known?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life
                          accusamus terry richardson ad squid. 3 wolf moon officia aute,
                          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                          laborum
                          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                          squid
                          single origin coffee nulla assumenda shoreditchet. Nihil anim
                          keffiyeh
                          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                          proident.
                          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
                          helvetica,
                          craft beer labore wes anderson cred nesciunt sapiente.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green mr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Examples -->
    </div>
  </div>
</section>
