<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">About Course</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Course</a>
                        </li>
                        <li class="breadcrumb-item active">About</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="contact-grid">
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div class="about-course-img">
                                    <img src="assets/images/banner/course2.png" alt="">
                                </div>
                            </div>
                            <div class="mt-3">
                                <h4 class="profile-usertitle-name"> Web Development </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>About Course</h2>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <p class="text-default">Open after rule place He earth earth good called days unto which
                                wherein day
                                doesn't said day image signs
                                fish days forth for evening whose his make his bearing years gathering good
                                brought without.</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Duration </b>
                                    <div class="profile-desc-item pull-right">1 Year</div>
                                </li>
                                <li class="list-group-item">
                                    <b>Price </b>
                                    <div class="profile-desc-item pull-right">$230.00</div>
                                </li>
                                <li class="list-group-item">
                                    <b>Professor Name </b>
                                    <div class="profile-desc-item pull-right">Abdul Saikh</div>
                                </li>
                                <li class="list-group-item">
                                    <b>Date</b>
                                    <div class="profile-desc-item pull-right">21st Jan 2017</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card project_widget">
                            <div class="header">
                                <h2>About</h2>
                            </div>
                            <div class="body">
                                <p>Open after rule place He earth earth good called days unto
                                    which wherein day doesn't said day image
                                    signs fish days forth for evening whose his make his bearing
                                    years gathering good brought without. </p>
                                <p>Years living creepeth. Form them yielding behold greater
                                    divided void was fowl earth in. Spirit Bring
                                    grass they're you have shall years so morning. Grass
                                    gathering won't heaven set greater darkness forth
                                    abundantly he. </p>
                                <p>sn't hath, forth. Brought sea subdue, from divided replenish
                                    creature after creeping abundantly fly is
                                    cattle fill were years years may darkness blessed which land
                                    creepeth good moving good. Life living
                                    you're.</p>
                                <p>Open after rule place He earth earth good called days unto
                                    which wherein day doesn't said day image
                                    signs fish days forth for evening whose his make his bearing
                                    years gathering good brought without. </p>
                                <p>Years living creepeth. Form them yielding behold greater
                                    divided void was fowl earth in. Spirit Bring
                                    grass they're you have shall years so morning. Grass
                                    gathering won't heaven set greater darkness forth
                                    abundantly he. </p>
                                <p>sn't hath, forth. Brought sea subdue, from divided replenish
                                    creature after creeping abundantly fly is
                                    cattle fill were years years may darkness blessed which land
                                    creepeth good moving good. Life living
                                    you're.</p>
                                <br>
                                <h4 class="font-bold">Course Syllabus</h4>
                                <hr>
                                <ul>
                                    <li>- Introduction to Computer and Internet.</li>
                                    <li>- Microsoft Application Tools such MS Word, MS Excel, MS
                                        PowerPoint.</li>
                                    <li>- Computer Organizations and Operating Systems.</li>
                                    <li>- Programming in C.</li>
                                    <li>- Object Oriented Programming Languages such as C++/Java.
                                    </li>
                                    <li>- RDBMS and Data Management</li>
                                    <li>- Web Technologies such as creation of dynamic website.
                                    </li>
                                </ul>
                                <br>
                                <h4 class="font-bold">After the completion of course the
                                    students will be able to: </h4>
                                <hr>
                                <ul>
                                    <li>- Understand computers, its basic components and
                                        applications.</li>
                                    <li>- Understand and Identify the Concepts of Computer
                                        Hardware and software.</li>
                                    <li>- Implement Word Processing Basics.</li>
                                    <li>- Create Spread sheets and use of formulas and functions.
                                    </li>
                                    <li>- Create and develop a presentation.</li>
                                    <li>- Understand basic concepts in Networking and
                                        Troubleshooting.</li>
                                    <li>- Develop the skills for effective compose of E-mails and
                                        its features.</li>
                                    <li>- Create and develop forms, queries and reports.</li>
                                    <li>- Understand the concepts of multimedia and its
                                        applications.</li>
                                    <li>- Develop the understanding of HTML.</li>
                                    <li>- Understand the concepts of Tally and its applications.
                                    </li>
                                    <li>- Maintenance of PC.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>