<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">All Students</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Students</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone pr-3">list_alt</i>
              List View
            </ng-template>
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body">
                    <div class="table-responsive">
                      <div class="materialTableHeader">
                        <div class="row">
                          <div class="col-8">
                            <ul class="header-buttons-left ml-0">
                              <li class="dropdown">
                                <h2>
                                  <strong>Students</strong></h2>
                              </li>
                              <li class="dropdown m-l-20">
                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                  aria-label="Search box">
                              </li>
                              <li>
                                <div class="icon-button-demo m-l-10" [hidden]=!selection.hasValue()>
                                  <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                                    <mat-icon class="col-white">delete
                                    </mat-icon>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4">
                            <ul class="header-buttons">
                              <li>
                                <div class="icon-button-demo">
                                  <button mat-mini-fab color="primary" (click)="addNew()">
                                    <mat-icon class="col-white">add</mat-icon>
                                  </button>
                                </div>
                              </li>
                              <li>
                                <div class="icon-button-demo">
                                  <button mat-mini-fab color="primary" (click)="refresh()">
                                    <mat-icon class="col-white">refresh
                                    </mat-icon>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="img">
                          <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'"> Image
                          </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6"> <img
                              [src]="row.img" />
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="rollNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Roll No
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.rollNo}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Name
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.name}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="department">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Department
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                            {{row.department}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Gender
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.gender}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.mobile}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Email
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> {{row.email}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="date">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Admission
                            Date
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                            {{row.date | date: 'MM/dd/yyyy'}}</mat-cell>
                        </ng-container>
                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Actions
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                            <button mat-icon-button color="accent" class="btn-tbl-edit"
                              (click)="$event.stopPropagation()" (click)="editCall(row)">
                              <mat-icon aria-label="Edit" class="col-white">edit
                              </mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-delete"
                              (click)="$event.stopPropagation()" (click)="deleteItem(row)">
                              <mat-icon aria-label="Delete" class="col-white">delete
                              </mat-icon>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </mat-table>
                      <!-- Loading spinner -->
                      <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <!-- context menu start -->
                      <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                        [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                      </div>
                      <mat-menu #contextMenu="matMenu">
                        <ng-template matMenuContent let-item="item">
                          <button mat-menu-item (click)="addNew()">
                            <mat-icon>add_box</mat-icon>
                            <span>Add Record</span>
                          </button>
                          <button mat-menu-item (click)="editCall(item)">
                            <mat-icon>create</mat-icon>
                            <span>Edit Record</span>
                          </button>
                          <button mat-menu-item (click)="deleteItem(item)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete Record</span>
                          </button>
                          <button mat-menu-item (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                            <span>Refresh Record</span>
                          </button>
                          <button mat-menu-item disabled>
                            <mat-icon>no_encryption</mat-icon>
                            <span>Disable</span>
                          </button>
                          <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                            <mat-icon>list_alt</mat-icon>
                            <span> Nested Menu</span>
                          </button>
                        </ng-template>
                      </mat-menu>
                      <mat-menu #nestedmenu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>mail_outline</mat-icon>
                          <span>Item 1</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>call</mat-icon>
                          <span>Item 2</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>chat</mat-icon>
                          <span>Item 3</span>
                        </button>
                      </mat-menu>
                      <!-- context menu end -->
                      <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                        [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                        No results
                      </div>
                      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="material-icons-two-tone pr-3">grid_on</i>
              Grid View
            </ng-template>
            <div class="row mt-5 ml-0 mr-0">
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-purple-dark">
                        <div class="user-name">Pooja Patel</div>
                        <div class="name-center">Mathematics</div>
                      </div>
                      <img src="assets/images/user/usrbig1.jpg" class="user-img" alt="">
                      <p>
                        A-103, shyam gokul flats, Mahatma Road
                        <br />Mumbai
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-cyan">
                        <div class="user-name">Cara Stevens</div>
                        <div class="name-center">Science</div>
                      </div>
                      <img src="assets/images/user/usrbig2.jpg" class="user-img" alt="">
                      <p>
                        45, Krishna Tower, Near Bus Stop, Satellite,
                        <br />Ahmedabad
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-dark">
                        <div class="user-name">Megha Trivedi</div>
                        <div class="name-center">Computer</div>
                      </div>
                      <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
                      <p>
                        456, Estern evenue, Courtage area,
                        <br />New York
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-orange">
                        <div class="user-name">Sarah Smith</div>
                        <div class="name-center">Engineering</div>
                      </div>
                      <img src="assets/images/user/usrbig4.jpg" class="user-img" alt="">
                      <p>
                        A-103, shyam gokul flats, Mahatma Road
                        <br />Mumbai
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-green">
                        <div class="user-name">Smita Patil</div>
                        <div class="name-center">Music</div>
                      </div>
                      <img src="assets/images/user/usrbig5.jpg" class="user-img" alt="">
                      <p>
                        45, Krishna Tower, Near Bus Stop, Satellite,
                        <br />Ahmedabad
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-red">
                        <div class="user-name">Airi Satou</div>
                        <div class="name-center">Commerce</div>
                      </div>
                      <img src="assets/images/user/usrbig6.jpg" class="user-img" alt="">
                      <p>
                        456, Estern evenue, Courtage area,
                        <br />New York
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-indigo">
                        <div class="user-name">Jayesh Patel</div>
                        <div class="name-center">Mechanical</div>
                      </div>
                      <img src="assets/images/user/usrbig7.jpg" class="user-img" alt="">
                      <p>
                        A-103, shyam gokul flats, Mahatma Road
                        <br />Mumbai
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-brown">
                        <div class="user-name">Angelica Ramos</div>
                        <div class="name-center">Science</div>
                      </div>
                      <img src="assets/images/user/usrbig8.jpg" class="user-img" alt="">
                      <p>
                        45, Krishna Tower, Near Bus Stop, Satellite,
                        <br />Ahmedabad
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-amber">
                        <div class="user-name">John Smith</div>
                        <div class="name-center">Computer</div>
                      </div>
                      <img src="assets/images/user/usrbig9.jpg" class="user-img" alt="">
                      <p>
                        456, Estern evenue, Courtage area,
                        <br />New York
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-purple-dark">
                        <div class="user-name">Suraj Patel</div>
                        <div class="name-center">Mathematics</div>
                      </div>
                      <img src="assets/images/user/usrbig10.jpg" class="user-img" alt="">
                      <p>
                        A-103, shyam gokul flats, Mahatma Road
                        <br />Mumbai
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-cyan">
                        <div class="user-name">Ashton Cox</div>
                        <div class="name-center">Science</div>
                      </div>
                      <img src="assets/images/user/usrbig2.jpg" class="user-img" alt="">
                      <p>
                        45, Krishna Tower, Near Bus Stop, Satellite,
                        <br />Ahmedabad
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-dark">
                        <div class="user-name">Jacob Ryan</div>
                        <div class="name-center">Engineering</div>
                      </div>
                      <img src="assets/images/user/usrbig7.jpg" class="user-img" alt="">
                      <p>
                        456, Estern evenue, Courtage area,
                        <br />New York
                      </p>
                      <div>
                        <span class="phone">
                          <i class="material-icons">phone</i>264-625-2583</span>
                      </div>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
