<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Department</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Department</a>
                        </li>
                        <li class="breadcrumb-item active">Add Department</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Department</h2>
                        
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Department</mat-label>
                                        <mat-select formControlName="dName" required>
                                            <mat-option [value]="'mechanical'">
                                                Mechanical
                                            </mat-option>
                                            <mat-option [value]="'science'">
                                                Science
                                            </mat-option>
                                            <mat-option [value]="'mathematics'">
                                                Mathematics
                                            </mat-option>
                                            <mat-option [value]="'computer'">
                                                Computer
                                            </mat-option>
                                            <mat-option [value]="'civil'">
                                                Civil
                                            </mat-option>
                                            <mat-option [value]="'automobile'">
                                                Automobile
                                            </mat-option>
                                            <mat-option [value]="'management'">
                                                Management
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="departmentForm.get('dName').hasError('required')">
                                            Select Any Department
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Head Of Department</mat-label>
                                        <input matInput formControlName="hod" required>
                                        <mat-icon matSuffix>person</mat-icon>
                                        <mat-error *ngIf="departmentForm.get('hod').hasError('required')">
                                            HOD name required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Phone</mat-label>
                                        <input matInput formControlName="phone">
                                        <mat-icon matSuffix>phone</mat-icon>
                                        <mat-error *ngIf="departmentForm.get('phone').hasError('required')">
                                            Phone is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error
                                            *ngIf="departmentForm.get('email').hasError('required') || departmentForm.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Department Start Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="sYear" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="departmentForm.get('sYear').hasError('required')">
                                            Please select date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Student Capacity</mat-label>
                                        <input matInput formControlName="sCapacity" required>
                                        <mat-icon matSuffix>group</mat-icon>
                                        <mat-error *ngIf="departmentForm.get('sCapacity').hasError('required')">
                                            Student Capacity is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Details</mat-label>
                                        <textarea matInput formControlName="details"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" [disabled]="!departmentForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>