<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Holiday</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Holiday</a>
                        </li>
                        <li class="breadcrumb-item active">Add Holiday Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Holiday Details</h2>
                        
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Title</mat-label>
                                        <input matInput formControlName="title" required>
                                        <mat-icon matSuffix>event_note</mat-icon>
                                        <mat-error *ngIf="holidayForm.get('title').hasError('required')">
                                            Please enter title
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Start date</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="sDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="holidayForm.get('sDate').hasError('required')">
                                            Please select start date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>End date</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="eDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error *ngIf="holidayForm.get('eDate').hasError('required')">
                                            Please select end date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Holiday type</mat-label>
                                        <mat-select formControlName="type" required>
                                            <mat-option [value]="'1'">
                                                Public Holiday
                                            </mat-option>
                                            <mat-option [value]="'2'">
                                                Holiday by school
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="holidayForm.get('type').hasError('required')">
                                            type is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Holiday Details</mat-label>
                                        <textarea matInput formControlName="details"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" [disabled]="!holidayForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>