<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Google Map</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Maps</a>
            </li>
            <li class="breadcrumb-item active">Google</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Google Maps -->
    <div class="alert alert-warning">
      You need to get
      <b>Google Map API Key</b> for display maps with
      <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" class="alert-link"
        target="_blank">this link</a> (Also you can find documentation on same page).
    </div>
    <!-- Basic Example -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Basic Example</h2>
          </div>
          <div class="body">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
              (mapClick)="mapClicked($event)">
              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                  <strong>InfoWindow content</strong>
                </agm-info-window>
              </agm-marker>
              <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                [circleDraggable]="true" [editable]="true">
              </agm-circle>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Basic Example -->
  </div>
</section>
